body {
	font-family: "Arvo";
}

#my-intro {
	max-width: 700px;
}

#my-intro p {
	font-family: "Futura";
	line-height: 150%;
}

#my-intro h1 {
	font-size: 48px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 0;
	margin-top: 0;
}

#top-bar {
	padding: 18px 0 0 18px;
}

#social-media {
	float: right;
    display: inline-block;
    margin-top: 63px;
    letter-spacing: 20px;
    font-size: 25px;
    margin-right: 30px;
    border-top: 4px solid black;
    padding-top: 10px;
}

#social-media a {
	text-decoration: none;
	color: black;
}

#my-intro a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

#my-intro i {
	font-size: 25px;
	display: inline-block;
	margin-left: 5px;
}

#scroll-bar {
	width: 100vw;
	height: 100vh;
	overflow-x: scroll;
	overflow-y: hidden;
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.portfolio-year {
	width: 100vw;
	height: 100vh;
	background-color: red;
	display: inline-block;
}
